<h3>Editar noticia</h3>
<form name="todoForm" novalidate>
  <div class="form-group" ng-class="{'has-error': todoForm.content.$invalid && todoForm.content.$dirty}">
    Volanta
    <input type="text" class="form-control focus margin" name="volanta"
           placeholder="Volanta" autocomplete="off"
           ng-model="noticia.volanta">
    Titulo
    <input type="text" class="form-control focus margin" name="titulo"
           placeholder="Titulo" autocomplete="off"
           ng-model="noticia.titulo">
    Bajada
    <input type="text" class="form-control focus margin" name="descripcion"
           placeholder="Descripcion" autocomplete="off"
           ng-model="noticia.descripcion">
    Cuerpo
    <textarea ui-tinymce class="form-control focus" name="cuerpo"
              rows="4" cols="50"
              placeholder="Cuerpo" autocomplete="off"
              ng-model="noticia.cuerpo"></textarea>
    Categoria
    <input type="text" id="categoria" class="form-control focus margin" name="category" list="categorias"
           placeholder="Seleccione categoría" autocomplete="off">
    <datalist id="categorias">
      <option ng-repeat="c in categorias" value="{{c.titulo}}" id="{{c.id}}">
    </datalist>
    <label for="files">Imagen</label>
    <input type="file"
           file-input="files"
           class="margin"
           multiple
      />
    <li ng-repeat="file in files">{{file.name}}</li>
  </div>
  <button class="btn btn-default" ng-disabled="todoForm.$invalid" ng-click="editarNoticia()">Agregar</button>
</form>

