<section id="destacados">
  <div class="container">
    <div id="volanta">
      Falleció hace 20 años
    </div>
    <div id="titulo">
      Murió el Dr Raúl Alfonsín
    </div>
    <div id="imagen">
      <img src="images/alfonsin.jpg" width="100%" alt=""/>
    </div>
    <div id="descripcion">
      Pensar que algo puede o debe cambiar en Central tras la derrota en el Monumental frente a River es simplemente un ejercicio de especulación.
    </div>
    <div id="cuerpo">
      <img src="images/alfonsin3.jpg" class="pull-right" alt=""/>
      Pensar que algo puede o debe cambiar en Central tras la derrota en el Monumental frente a River es simplemente un ejercicio de especulación. Un juego al que no debería prestarse el Canalla, no sin desatender cosas que merecen ser advertidas, repasadas y corregidas.
      <br/>
      Es más, aquel traje de protagonista que tanto esfuerzo le llevó confeccionar en las primeras 13 fechas del torneo no está maltrecho. Mucho menos en condiciones de deterioro que impliquen una zurcida importante.
      <br/>Es que el formato de partido que realizó el equipo de Coudet merece consideraciones puntuales. La que sobresale es aquella que tiene que ver con que no muchos equipos están en condiciones (de hecho pocos lo hicieron) de plantarse con autoridad y sentirse superior a rivales de esta talla futbolística. Está totalmente fuera de discusión que lo del domingo fue derrota. Y encima 2 a 0. Pero las formas no siempre quedan a remolque de la impiadosa verdad del resultado.

      <br/>
      <br/>
      Pensar que algo puede o debe cambiar en Central tras la derrota en el Monumental frente a River es simplemente un ejercicio de especulación. Un juego al que no debería prestarse el Canalla, no sin desatender cosas que merecen ser advertidas, repasadas y corregidas.
      <br/>
      Es más, aquel traje de protagonista que tanto esfuerzo le llevó confeccionar en las primeras 13 fechas del torneo no está maltrecho. Mucho menos en condiciones de deterioro que impliquen una zurcida importante.
      <br/>Es que el formato de partido que realizó el equipo de Coudet merece consideraciones puntuales. La que sobresale es aquella que tiene que ver con que no muchos equipos están en condiciones (de hecho pocos lo hicieron) de plantarse con autoridad y sentirse superior a rivales de esta talla futbolística. Está totalmente fuera de discusión que lo del domingo fue derrota. Y encima 2 a 0. Pero las formas no siempre quedan a remolque de la impiadosa verdad del resultado.
    </div>
  </div>
</section>
