<section id="destacados">
  <div class="container">
    <div id="volanta">
      Juventud en el Ejército.
    </div>
    <div id="titulo">
      MILITARES SON LOS NUESTROS
    </div>
    <div id="imagen">
      <img src="images/noticias/militares/militares grande.jpg" width="100%" alt=""/>
    </div>
    <div id="descripcion">
      Desde sus comienzos, el Ejército Argentino estuvo lleno de jóvenes que le pusieron el cuerpo a la idea de soberanía.
      Entrevistamos a pibes que forman parte de la fuerza, para conocer sus experiencias, sus pensamientos y sus sueños.
    </div>
    <div id="cuerpo">
      Pensar que algo puede o debe cambiar en Central tras la derrota en el Monumental frente a River es simplemente un ejercicio de especulación. Un juego al que no debería prestarse el Canalla, no sin desatender cosas que merecen ser advertidas, repasadas y corregidas.
      <br/>
      Es más, aquel traje de protagonista que tanto esfuerzo le llevó confeccionar en las primeras 13 fechas del torneo no está maltrecho. Mucho menos en condiciones de deterioro que impliquen una zurcida importante.
      <br/>Es que el formato de partido que realizó el equipo de Coudet merece consideraciones puntuales. La que sobresale es aquella que tiene que ver con que no muchos equipos están en condiciones (de hecho pocos lo hicieron) de plantarse con autoridad y sentirse superior a rivales de esta talla futbolística. Está totalmente fuera de discusión que lo del domingo fue derrota. Y encima 2 a 0. Pero las formas no siempre quedan a remolque de la impiadosa verdad del resultado.

      <br/>
      <br/>
      Pensar que algo puede o debe cambiar en Central tras la derrota en el Monumental frente a River es simplemente un ejercicio de especulación. Un juego al que no debería prestarse el Canalla, no sin desatender cosas que merecen ser advertidas, repasadas y corregidas.
      <br/>
      Es más, aquel traje de protagonista que tanto esfuerzo le llevó confeccionar en las primeras 13 fechas del torneo no está maltrecho. Mucho menos en condiciones de deterioro que impliquen una zurcida importante.
      <br/>Es que el formato de partido que realizó el equipo de Coudet merece consideraciones puntuales. La que sobresale es aquella que tiene que ver con que no muchos equipos están en condiciones (de hecho pocos lo hicieron) de plantarse con autoridad y sentirse superior a rivales de esta talla futbolística. Está totalmente fuera de discusión que lo del domingo fue derrota. Y encima 2 a 0. Pero las formas no siempre quedan a remolque de la impiadosa verdad del resultado.
    </div>
  </div>
</section>
